test.ipynb
/data/
.vscode/
*egg-info
*/__pycache__/
*/*/__pycache__/
proteinmpnn/
rcsbsearch/
.pytest_cache/
*ipynb
./*zip
*.csv
pulchra304
tmp/
esmfold_output/
igfold_output/
igfold_refine_output/
all_structures/
all_structures.zip
run_metrics.py
*.csv