test.ipynb
/data/
.vscode/
*egg-info
*/__pycache__/
*/*/__pycache__/
proteinmpnn/
rcsbsearch/
.pytest_cache/
*ipynb
./*zip
tmp/
all_structures/
all_structures.zip
esmfold_output/
igfold_output/
*.csv
run_metrics.py