[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "proteinflow"
version = "1.1.2"
authors = [
    {name = "Elizaveta Kozlova", email = "liza@adaptyvbio.com"},
    {name = "Arthur Valentin", email = "arthur@adaptyvbio.com"}
]
description = "Versatile pipeline for processing protein structure data for deep learning applications."
readme = "README.md"
requires-python = ">=3.8,<3.10"
license = {text = "BSD-3-Clause"}
dependencies = [
    "numpy",
    "editdistance>=0.6.0",
    "Biopython>=1.80",
    "click>=8.1.3",
    "biopandas>=0.4.1",
    "boto3>=1.23",
    "p_tqdm>=1.4.0",
    "networkx==2.8.8",
    "einops>=0.6.0",
    "pandas>=1.5.2",
    "torch>=1.10.0",
    "biotite==0.35.0",
    "aiobotocore>=2.3",
    "awscli>=1.25",
    "rcsbsearch",
]
keywords = ["bioinformatics", "dataset", "protein", "PDB", "deep learning"]

[project.scripts]
proteinflow = "proteinflow.scripts.proteinflow_cli:cli"

[tool.setuptools.packages]
find = {}
