name: Test and update docs

on:
  pull_request:
    branches: [ main ]

env:
  MY_REF: ${{ format('refs/heads/{0}', github.event.pull_request.head.ref) }}
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:

  test:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    strategy:
      matrix:
        version: ["3.8", "3.9", "3.10"]
    outputs:
      update: ${{ steps.service-changed.outputs.result == 'true' && !startsWith(github.event.head_commit.message, 'auto update') }}

    steps:
      - name: Check if relevant files have changed
        uses: actions/github-script@0.9.0
        id: service-changed
        with:
          result-encoding: string
          script: |
            const result = await github.pulls.listFiles({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.number,
              per_page: 100
            })
            const serviceChanged = result.data.filter(f => f.filename.startsWith("proteinflow/")).length > 0
            console.log(serviceChanged)
            return serviceChanged
      - uses: actions/checkout@v3
        if: ${{ steps.service-changed.outputs.result == 'true' && !startsWith(github.event.head_commit.message, 'auto update') }}
        with:
            ref: ${{ env.MY_REF}}
            fetch-depth: 0
            token: ${{ secrets.PAT }}
      - name: Get Commit Message
        run: |
          MSG=$(git log --format=%B -n 1 ${{github.event.after}})
          echo "::set-env name=COMMIT_MESSAGE::${MSG}"
      - name: Echo commit message
        run: |
          echo "Commit SHA: ${{github.event.after}}, commit message: ${{env.COMMIT_MESSAGE}} (or ${COMMIT_MESSAGE})"
      - name: Install dependencies
        if: ${{ steps.service-changed.outputs.result == 'true' && env.COMMIT_MESSAGE != 'auto update' }}
        run: |
          conda create --name proteinflow -y python=${{ matrix.version }}
          conda install -n proteinflow -c conda-forge -c bioconda mmseqs2
          conda run -n proteinflow python -m pip install torch --extra-index-url https://download.pytorch.org/whl/cpu
          conda run -n proteinflow python -m pip install awscli pytest flake8
          conda run -n proteinflow python -m pip install numpy
          conda run -n proteinflow python -m pip install "rcsbsearch @ git+https://github.com/sbliven/rcsbsearch@dbdfe3880cc88b0ce57163987db613d579400c8e"
          conda run -n proteinflow python -m pip install -e .

      - name: Lint with flake8
        if: ${{ steps.service-changed.outputs.result == 'true' && env.COMMIT_MESSAGE != 'auto update' }}
        run: |
          # stop the build if there are Python syntax errors or undefined names
          conda run -n proteinflow flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          conda run -n proteinflow flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        if: ${{ steps.service-changed.outputs.result == 'true' && env.COMMIT_MESSAGE != 'auto update' }}
        run: |
          conda run -n proteinflow pytest tests

  update:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    needs: test

    steps:
      - uses: actions/checkout@v3
        if: ${{ needs.test.outputs.update }}
        with:
            ref: ${{ env.MY_REF}}
            fetch-depth: 0
            token: ${{ secrets.PAT }}
      - name: Install dependencies
        if: ${{ needs.test.outputs.update }}
        run: |
          conda create --name proteinflow -y python=3.9
          conda run -n proteinflow python -m pip install torch --extra-index-url https://download.pytorch.org/whl/cpu
          conda run -n proteinflow python -m pip install numpy
          conda run -n proteinflow python -m pip install -e .
      - name: Install pdoc3 and black
        if: ${{ needs.test.outputs.update }}
        run: |
          conda run -n proteinflow python -m pip install pdoc3 black
      - name: Reformat the code
        if: ${{ needs.test.outputs.update }}
        run: |
          conda run -n proteinflow black .
      - name: Update the docs
        if: ${{ needs.test.outputs.update }}
        run: |
          git pull
          conda run -n proteinflow . make_docs.sh
      - uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ needs.test.outputs.update }}
        with:
          commit_message: auto update
          skip_checkout: true